<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhch.paysvc.mapper.ChannelConfigMapper">

    <select id="getChannelConfigs" resultType="com.zhch.paysvc.dto.ChannelConfigDto">
        select a.*, b.hospital_name
        from channel_config a
        inner join hospital_config b on a.hospital_code = b.hospital_code
        <where>
            <if test="hospitalName!=null and hospitalName!=''">
                and b.hospital_name like concat('%',#{hospitalName},'%')
            </if>
            <if test="channelCode!=null and channelCode!=''">
                and a.channel_code = #{channelCode}
            </if>
            <if test="payType!=null and payType!=''">
                and a.pay_type = #{payType}
            </if>
            <if test="active!=null and active">
                and a.active = #{active}
            </if>
            <if test="createdStartAt != null and createdStartAt != ''">
                and a.created_at >= STR_TO_DATE(#{createdStartAt,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s')
            </if>
            <if test="createdEndAt != null and createdEndAt != ''">
                and  <![CDATA[  a.created_at <= STR_TO_DATE(#{createdEndAt,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s') ]]>
            </if>
        </where>
    </select>
</mapper>